body {
    display: flex;
    border: 10px solid rgba(33, 33, 100, 0.25);
    margin: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 100, 0.4), rgba(255, 255, 255, 0.75), rgba(0, 0, 33, 0.4));
}