{{!-- <h2>{{@title}}</h2> --}}

<GridContainer>
    {{#each @images as |image|}}
    <Hds::Card::Container @levelHover="high" @level="high" @hasBorder={{false}} @background="neutral-secondary">
        <div class="grid-cell">
            {{!-- template-lint-disable require-valid-alt-text --}}
            <img src="/assets/images/{{image}}" alt="">
        </div>
    </Hds::Card::Container>
    {{/each}}
</GridContainer>