{{!-- <h2>{{@title}}</h2> --}}

<GridContainer>
    {{#each @images as |image|}}
    <div>
        {{!-- template-lint-disable require-valid-alt-text --}}
        <Hds::Card::Container @level="mid" @hasBorder={{true}}>
            <img src="/assets/images/{{image}}" alt="">
        </Hds::Card::Container>

        {{!-- <p>{{image}}</p> --}}
    </div>
    {{/each}}
</GridContainer>